<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<% if current_user == @report.user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
  <%= link_to t('views.common.back'), reports_path %>
<% end %>

<% unless @comments.empty? %>
  <table>
    <thead>
      <tr>
        <th><%= Comment.human_attribute_name(:content) %></th>
        <th><%= Comment.human_attribute_name(:created_at) %></th>
        <th><%= t('views.common.contributor') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
          <td><%= l comment.created_at, format: :short %></td>
          <td><%= comment.user.name == '' ? comment.user.email : comment.user.name %></td>
          <% if comment.user == current_user %>
            <td><%= link_to t('views.common.edit'), edit_comment_path(comment) %></td>
            <td><%= link_to t('views.common.destroy'), comment, method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= form_with(scope: :comment, url: polymorphic_path([@report, @report.comments.build]), local: true) do |f| %>

<% if @comment.errors.any? %>
   <div id="error_explanation">
   <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :content, Comment.human_attribute_name(:content) %>
    <%= f.text_area :content, required: true %>
  </div>
  <%= f.submit t('views.common.comment') %>
<% end %>
